<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/felixs8696/caption-tool.git">
        <span class="glyphicon glyphicon-camera"></span> Caption Tool
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
      </ul>
      <a class="nav navbar-brand navbar-right small-brand" href="https://www.linkedin.com/in/felixsu" target="_blank">&#169; 2015 Felix Su</a>
    </div>
  </div>
</nav>
