<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron text-center">
    <h1>Caption Tool</h1>
  </div>

  <div class="text-box-container">
    <label>Full Manual Transcript</label>
    <form ng-submit="vm.parseTranscriptIntoSubscenes(transcript)">
      <textarea class="text-box" ng-model="transcript" placeholder="Type full transcript here..."></textarea>
      <button type="submit">Parse Into Subtitles</button>
    </form>
  </div>
  <div class="text-box-container subtitle-container">
    <label>Generated Subtitles</label>
    <br>
    <div ng-repeat="subtitle in vm.subSceneArray" class="subtitle-box">
      <pre><div class="subtitle-text-inner">{{$index + 1}}<br>{{subtitle}}</div><div class="time-input-container"><input ng-value="vm.placeholderTime($index * 5)" placeholder="hh:mm:ss:ms" class="time-input"/><input ng-value="vm.placeholderTime(($index + 1) * 5)" placeholder="hh:mm:ss:ms" class="time-input"/></div>
      </pre>
    </div>
    <div ng-if="vm.subSceneArray.length === 0">
      <pre>Please submit a transcript to generate subtitles</pre>
    </div>
  </div>

</div>
